name: PR Checks
on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check formatting
        run: cargo fmt --all --check

  check-hack:
    name: Check cargo-hack
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@cargo-hack
      - name: Install dependencies
        run: sudo ./bootstrap.sh
      - name: Check hack
        run: cargo hack check --each-feature --no-dev-deps

  build-and-test:
    name: Build and Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: taiki-e/install-action@nextest
      - name: Install dependencies
        run: sudo ./bootstrap.sh
      - name: Run tests
        run: cargo nextest run --all --all-features

  doc:
    name: Check Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check Documentation
        run: cargo doc --all

  deny:
    name: Check Licenses and CVEs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: EmbarkStudios/cargo-deny-action@v2
